<%= link_to admin_post_show_notify_path(notification.post.id, notification.id), class: "dropdown-item notification-#{notification.uncheck?}" do %>
  <div class="media">
    <%= image_tag notification.user.avatar_url, class: "img-size-50 mr-3 img-circle" %>
    <div class="media-body">
      <h3 class="dropdown-item-title">
        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
      </h3>
      <p class="text-sm">
        <%= notification.name %> <%= t "layouts.application.just" %> <%= notification.action %> <%= notification.title %>
      </p>
      <p class="text-sm text-muted">
        <i class="far fa-clock mr-1"></i>
        <%= time_ago_in_words notification.created_at %>
      </p>
    </div>
  </div>
<% end %>
