<% provide :title, t(".favorites") %>
<% provide :controller, t(".favorites") %>
<% provide :action, t(".index") %>

<div class="favorites-index p-3">
  <%= render "shared/search_bar", path: user_favorites_path,
      select_type_label: t(".topics"), name_type: t(".title") %>
  <% if @posts.present? %>
    <h3>
      <%= t ".favorites" %>:
      <%= @posts.size %>
      <%= t ".posts" %>
    </h3>
    <div class="post-list">
      <%= render @posts %>
    </div>
  <% else %>
    <h3 class="empty-data pb-2 font-weight-normal">
      <%= t ".no_post" %>
    </h3>
  <% end %>
</div>
