<div class="row">
  <div class="col-lg-3 col-6">
    <div class="small-box bg-info">
      <div class="inner">
        <h3><%= @posts.size %></h3>
        <p><%= t "dashboard.card.post" %></p>
      </div>
      <div class="icon">
        <i class="ion ion-bag"></i>
      </div>
      <%= link_to admin_posts_path, class: "small-box-footer" do %>
        <%= t "dashboard.card.more_infor" %> <i class="fas fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-6">
    <div class="small-box bg-warning">
      <div class="inner">
        <h3><%= @users.size %></h3>
        <p><%= t "dashboard.card.user" %></p>
      </div>
      <div class="icon">
        <i class="ion ion-person-add"></i>
      </div>
      <%= link_to admin_users_path, class: "small-box-footer" do %>
        <%= t "dashboard.card.more_infor" %><i class="fas fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-6">
    <div class="small-box bg-success">
      <div class="inner">
        <h3><%= @users.size %></h3>
        <p><%= t "dashboard.card.user" %></p>
      </div>
      <div class="icon">
        <i class="ion ion-person-add"></i>
      </div>
      <%= link_to admin_users_path, class: "small-box-footer" do %>
        <%= t "dashboard.card.more_infor" %><i class="fas fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-6">
    <div class="small-box bg-danger">
      <div class="inner">
        <h3><%= @users.size %></h3>
        <p><%= t "dashboard.card.user" %></p>
      </div>
      <div class="icon">
        <i class="ion ion-person-add"></i>
      </div>
      <%= link_to admin_users_path, class: "small-box-footer" do %>
        <%= t "dashboard.card.more_infor" %><i class="fas fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <h4><%= t "dashboard.char.post" %></h4>
    <%= line_chart admin_chart_post_path %>
  </div>
  <div class="col-lg-6">
    <h4><%= t "dashboard.char.user" %></h4>
    <%= column_chart admin_chart_user_path %>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <%= render partial: "card_post", collection: @posts.take(Settings.user.validates.time), as: :post %>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="nav-icon fas fa-user"></i>
          <p class="d-inline">user</p>
        </div>
        <div class="card-body d-flex user-card">
          <%= render partial: "card_user", collection: @users.take(Settings.user.validates.dashboard), as: :user %>
      </div>
      </div>
    </div>
  </div>
</div>
