<%= form_for find_user_topic(topic),
  html: {method: :delete}, remote: true do |f| %>
  <%= hidden_field_tag :topic_id, topic.id %>

  <p>
    <%= topic.user_topics.count %>
    <%= t ".followers" %>
  </p>

  <%= button_tag t(".unfollow"), class: "unfollow" %>
<% end %>
