<% provide :title, t(".topics") %>
<% provide :controller, t(".topics") %>
<% provide :action, t(".show") %>

<div class="show-topic">
  <% if @topic.posts.present? %>
    <h3>
      <%= t ".topics" %>
      <%= @topic.name %>:
      <%= @topic.posts.size %>
      <%= t ".posts" %>
    </h3>
    <div class="post-list">
      <%= render @topic.posts.order_created_at  %>
    </div>
  <% else %>
    <h3>
      <%= t ".topics" %>
      <%= @topic.name %>
    </h3>
    <h5><%= t ".no_post" %></h5>
  <% end %>
</div>
