<% provide :title, t(".users") %>
<% provide :controller, t(".users") %>
<% provide :action, t(".index") %>

<div class="users-index">
  <h3>
    <%= @users.total_count %>
    <%= t ".users" %>
  </h3>
  <%= render "shared/search_bar", path: users_path,
    select_type_label: t(".sort"), name_type: t(".name") %>
  <% if @users.present? %>
    <div class="row">
      <%= render @users %>
    </div>
    <%= paginate @users %>
  <% else %>
    <h3 class="empty-data">
      <%= t ".no_user" %>
    </h3>
  <% end %>
</div>
