<tr>
  <td>
    <%= check_box_tag t("layouts.application.accept"), nil, nil, class: "selectall-checkbox" %>
  </td>
  <td><%= t "post.index.images" %></td>
  <td><%= t "post.index.title" %></td>
  <td><%= t "post.index.status" %></td>
  <td><%= t "post.index.writer" %></td>
  <td><%= t "post.index.topic" %></td>
  <td><%= t "post.index.action" %></td>
</tr>
