<tr>
  <td>
    <%= check_box_tag t("layouts.application.accept"), nil, nil, class: "selectall-checkbox" %>
  </td>
  <td class="list-header"><%= t "post.index.images" %></td>
  <td class="list-header"><%= sort_link @q, :title %></td>
  <td class="list-header"><%= sort_link @q, :status %></td>
  <td class="list-header"><%= sort_link @q, :user_id %></td>
  <td class="list-header"><%= sort_link @q, :topic_id %></td>
  <td class="list-header"><%= t "post.index.action" %></td>
</tr>
