<%= form_with url: admin_posts_path, method: :get, local: true do |f| %>
  <div class="row w-100">
    <div class="col-3">
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: t("posts.filter.title"), class: "form-control", value: params[:title] %>
    </div>
    <div class="col-3">
      <%= f.label :writer %>
      <%= f.collection_select :user_id, @users, :id, :name, {prompt: true, selected: params[:user_id]}, {class: "form-control"} %>
    </div>
    <div class="col-2">
      <%= f.label :status %>
      <%= f.select :status, options_for_select(Post.statuses, params[:status]), {prompt:true}, {class: "form-control"} %>
    </div>
    <div class="col-2">
      <%= f.label :topic %>
      <%= f.collection_select :topic_id, @topics, :id, :name, {prompt: true, selected: params[:topic_id]}, {class: "form-control"} %>
    </div>
    <div class="col-1">
      <%= f.label :button, class: "text-white" %>
      <%= f.submit class: "btn btn-success", value: t("posts.breadcrumbs.search") %>
    </div>
    <div class="col-1">
      <%= f.label :button, class: "text-white" %>
      <div class="d-flex">
        <%= link_to admin_posts_path, class: "nav-link active d-block" do %>
          <i class="fas fa-redo nav-icon text-success"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="align-items-center">
    <%= f.label :per_page, class: "mr-3" %>
    <%= f.select :per_page, options_for_select([Settings.paginate.ten, Settings.paginate.thirty, Settings.paginate.fifty], params[:per_page]), {}, class: "form-control" %>
    <%= f.submit t("layouts.application.apply"), class: "btn btn-light" %>
  </div>
<% end %>
