<%= search_form_for @q, url: admin_posts_path, html: { method: :get } do |f| %>
  <div class="row w-100">
    <div class="col-2">
      <%= f.label :title %>
      <%= f.search_field :post_cont, placeholder: t("posts.filter.title"), class: "form-control", value: params.dig(:q, :post_cont) %>
    </div>
    <div class="col-2">
      <%= f.label :writer %>
      <%= f.collection_select :user_id_eq, @users, :id, :name, {include_blank: true, selected: params.dig(:q, :user_id_eq)},
        {class: "form-control post_select"} %>
    </div>
    <div class="col-2">
      <%= f.label :status %>
      <%= f.select :status_eq, options_for_select(Post.statuses, params[:status]), {prompt:true}, {class: "form-control"} %>
    </div>
    <div class="col-2">
      <%= f.label :topic_id %>
      <%= f.collection_select :topic_id_eq, @topics, :id, :name, {include_blank: true, selected: params.dig(:q, :topic_id_eq)},
        {class: "form-control post_select"} %>
    </div>
    <div class="col-2">
      <%= f.label :updated_at_date %>
      <%= f.search_field :updated_at_date_equals, class: "form-control", placeholder: t("posts.filter.date"), value: params.dig(:q, :updated_at_date_equals) %>
    </div>
    <div class="col-1">
      <%= f.label :button, class: "text-white" %>
      <%= f.submit class: "btn btn-success", value: t("posts.breadcrumbs.search") %>
    </div>
    <div class="col-1">
      <%= f.label :button, class: "text-white" %>
      <div class="d-flex">
        <%= link_to admin_posts_path, class: "nav-link active d-block" do %>
          <i class="fas fa-redo nav-icon text-success"></i>
        <% end %>
        <%= link_to new_admin_post_path, class: "nav-link active d-inline" do %>
          <i class="fas fa-plus nav-icon text-success"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
