<%= form_with url: admin_post_filter_path, method: :get, local: true do |f|%>
  <div class="row w-100">
    <div class="col-4">
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: t("posts.filter.title"), class: "form-control", value: params[:title] %>
    </div>
    <div class="col-3">
      <%= f.label :writer %>
      <%= f.collection_select :user_id, get_all_user, :id, :name, {prompt: true, selected: params[:user_id]}, {class: "form-control"} %>
    </div>
    <div class="col-1">
      <%= f.label :status %>
      <%= f.select "status", options_for_select([ "on", "off" ],params[:status]), {}, {class: "form-control"} %>
    </div>
    <div class="col-3">
      <%= f.label :topic %>
      <%= f.collection_select :topic_id, get_all_topic, :id, :name, {prompt: true, selected: params[:topic_id]}, {class: "form-control"} %>
    </div>
    <div class="col-1">
      <%= f.label :button, class: "text-light" %>
      <%= f.submit class: "btn btn-success"%>
    </div>
  </div>
<% end %>
