<% content_for :javascript_includes do %>
  <%= javascript_pack_tag "admin_form_post", "data-turbolinks-track": "reload" %>
<% end %>

<%= form_for [:admin, @post], html: { multipart: true } do |f| %>
  <div class="row p-3">
    <div class="col-lg-6">
      <div class="form-group">
        <%= f.label t "post.new.topic" %>
          <%= f.select :topic_id, options_for_select(list_topics, @post.topic_id), {include_blank: post_topic}, id: "event_topic_id",
            class: "form-control", multiple: false %>
          <%= display_error f.object, :topic %>
      </div>
       <div class="form-group">
        <%= f.label t "post.new.title" %>
        <%= f.text_field :title, class: "form-control", placeholder: t("post.new.title") %>
        <%= display_error f.object, :title %>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <p>
          <label class="d-block"><%= t "post.edit.post_image" %></label>
          <div id="post_img_preview">
            <%= load_user_avatar @post.url %>
          </div>
          <%= f.label :image, t(".upload_image"),
            class: "btn btn-light" %>
          <%= f.file_field :image, accept: Settings.user.image_type_accept %>
          <%= f.hidden_field :image_cache %>
        </p>
        <p>
          <label>
            <%= f.check_box :remove_image %>
            <%= t "post.edit.remove_post" %>
          </label>
        </p>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="form-group">
      <%= f.label t "post.new.content" %>
      <%= display_error f.object, :content %>
      <%= f.cktext_area :content, class: "form-control", placeholder: t("post.new.content") %>
    </div>
    <div class="form-group">
      <%= f.label t "post.new.status" %>
      <%= f.select :status, options_for_select(Post.statuses.keys.to_a, @post.status), {}, {class: "form-control"} %>
    </div>
  </div>
  <div class="card-footer">
    <%= f.submit t("post.new.create"), class: "btn btn-primary" %>
  </div>
<% end %>
