<tr>
  <td>
    <%= check_box_tag "post_ids[]", post.id -%>
  </td>
  <td><%= image_tag post.image_url.to_s %></td>
    <td>
      <%= link_to admin_post_path post.id, class: "nav-link active d-inline text-dark" do %>
        <%= post.title %>
      <% end %>
    </td>
    <td>
      <div class="status <%= post_status(post)[:css] %>">
        <span>
          <%= post_status(post)[:status] %>
        </span>
      </div>
    </td>
    <td>
      <%= link_to post.name, admin_user_path(post.user.id), class: "text-success" %>
    </td>
    <td><%= post.topic_name %></td>
  <td>
    <%= link_to edit_admin_post_path(post.id), class: "nav-link active d-inline" do %>
      <i class="fas fa-edit nav-icon text-success"></i>
    <% end %>
    <%= link_to admin_post_path(post.id), method: :delete,
      data: { confirm: t("users.index.confirm_delete") },
      class: "nav-link active d-inline" do %>
      <i class="fas fa-trash-alt nav-icon text-danger"></i>
    <% end %>
  </td>
</tr>
