<div class="card">
  <div class="card-header">
    <h3 class="card-title"><%= t "post.index.title" %></h3>
  </div>
  <div class="card-body">
    <table id="example1" class="table table-bordered">
      <div class="input-group input-group-sm">
        <%= render "filter" %>
      </div>
      <div class="input-group input-group-sm">
        <label><%= t "post.index.post_numbers" %><%= t "post.index.count", count: @posts.total_count %></label>
        <%= link_to new_admin_post_path, class: "nav-link active d-inline p-0 ml-3 mb-3" do %>
          <i class="fas fa-plus nav-icon text-success"></i>
        <% end %>
      </div>
      <thead>
        <%= render "colums" %>
      </thead>
      <tbody>
        <%= form_with url: admin_check_posts_path, local: true, method: :patch do |f| %>
          <div id="post-status" class="sticky-top d-flex justify-content-end">
            <div class="card-footer">
              <%= f.submit t("posts.show.on_post"), class: "btn btn-success" %>
            </div>
            <div class="card-footer">
              <%= f.submit t("posts.show.pending_post"), class: "btn btn-warning text-white" %>
            </div>
            <div class="card-footer">
              <%= f.submit t("posts.show.off_post"), class: "btn btn-danger" %>
            </div>
          </div>
          <%= render @posts %>
        <% end %>
      </tbody>
      <tfoot>
        <%= render "colums" %>
      </tfoot>
    </table>
  </div>
</div>
<%= paginate @posts, theme: Settings.theme.name_bootstrap %>
