<div class="card">
  <div class="card-header">
    <h3 class="card-title"><%= t "post.index.title" %></h3>
  </div>
  <div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
      <div class="input-group input-group-sm">
        <%= render "filter" %>
      </div>
      <div class="input-group input-group-sm">
        <label><%= t "post.index.post_numbers" %><%= t "post.index.count", count: @posts.total_count %></label>
        <%= link_to new_admin_post_path, class: "nav-link active d-inline" do %>
          <i class="fas fa-plus nav-icon text-success"></i>
        <% end %>
      </div>
      <thead>
        <%= render "colums" %>
      </thead>
      <tbody>
        <%= render @posts %>
      </tbody>
      <tfoot>
        <%= render "colums" %>
      </tfoot>
    </table>
  </div>
</div>
<%= paginate @posts, theme: Settings.theme.name_bootstrap %>
