<%= form_for find_post_likes(post),
  html: {method: :delete}, remote: true do |f| %>
  <%= hidden_field_tag :post_id, post.id %>

  <%= button_tag class: "post-liked-#{post.id}", type: "button",
    disable: true do %>
    <i class="fas fa-sort-up"></i>
  <% end %>

  <p><%= post.post_likes.count %></p>

  <%= button_tag do %>
    <i class="fas fa-sort-down"></i>
  <% end %>
<% end %>
