<% provide :title, t(".posts") %>
<% provide :controller, t(".posts") %>
<% provide :action, t(".show") %>

<div id="post-show">
  <div class="post-sidebar">
    <div class="user-ava">
      <%= load_user_avatar @post.url %>
    </div>
    <div class="post-like" id="like-post-<%= @post.id %>">
      <% if current_user.like_post? @post %>
        <%= render "posts/unlike", post: @post %>
      <% else %>
        <%= render "posts/like", post: @post %>
      <% end %>
    </div>
  </div>
  <div class="post-info">
    <div class="d-flex align-items-center">
      <p class="post-header">
        <span class="user-name">
          <%= link_to @post.name, @post.user %>
        </span>
        <time>
          <%= t ".asked" %>
          <strong><%= time_ago_in_words @post.created_at %></strong>
        </time>
        <span class="post-topic">
          <%= t ".in" %>
          <strong><%= link_to @post.topic_name, @post.topic %></strong>
        </span>
      </p>
      <%= render "posts/update_destroy_post", post: @post %>
    </div>
    <p class="post-title">
      <%= link_to @post.title, @post %>
    </p>
    <div class="post-description">
      <%= @post.content.html_safe %>
    </div>
    <%= display_post_pending_status @post.status %>
    <div class="post-tags">
      <% @post.tags.each do |tag| %>
        <p class="tag-item">
          <%= tag.name %>
        </p>
      <% end %>
    </div>
    <div class="post-footer">
      <div class="post-comments">
        <%= t ".comments" %>
      </div>
      <div class="post-views">
        <%= @post.view %>
        <%= t ".views" %>
      </div>
      <div id="saving-post-<%= @post.id %>">
        <% if current_user.save_post? @post %>
          <%= render "posts/unsave", post: @post %>
        <% else %>
          <%= render "posts/save", post: @post %>
        <% end %>
      </div>
      <div class="comment-post">
        <button type="button" class="btn btn-primary">
          <%= link_to t("answer"), @post %>
        </button>
      </div>
    </div>
  </div>
</div>
