<tr>
  <td><%= t "users.index.images" %></td>
  <td><%= t "users.index.name" %></td>
  <td><%= t "users.index.email" %></td>
  <td><%= t "users.index.status" %></td>
  <td><%= t "users.index.role" %></td>
  <td><%= t "users.index.action" %></td>
</tr>
