<tr>
  <td class="list-header"><%= t "users.index.images" %></td>
  <td class="list-header"><%= sort_link @q, :name %></td>
  <td class="list-header"><%= sort_link @q, :email %></td>
  <td class="list-header"><%= sort_link @q, :status %></td>
  <td class="list-header"><%= sort_link @q, :role_id %></td>
  <td class="list-header"><%= sort_link @q, :posts_count %></td>
  <td class="list-header"><%= t "users.index.action" %></td>
</tr>
