<%= search_form_for @q, url: admin_users_path, html: { method: :get } do |f|%>
  <div class="row w-100">
    <div class="col-3">
      <%= f.label :name_or_email %>
      <%= f.search_field :user_cont, placeholder: t("posts.filter.title"), class: "form-control", value: params.dig(:q, :user_cont) %>
    </div>
    <div class="col-2">
      <%= f.label :role %>
      <%= f.select :role_eq, options_for_select(User.roles, params[:role]), {prompt: true}, {class: "form-control"} %>
    </div>
    <div class="col-2">
      <%= f.label :status %>
      <%= f.select :status_eq, options_for_select(User.statuses, params[:status]), {prompt: true}, {class: "form-control"} %>
    </div>
    <div class="col-2">
      <%= f.label :posts_count %>
      <%= f.search_field :posts_count_gteq, placeholder: t("users.filter.post_count"), class: "form-control", value: params[:posts_count_gteq] %>
    </div>
    <div class="col-1">
      <%= f.label :Higher, class: "text-dark" %>
      <%= f.check_box :higher, checked: true %>
    </div>
    <div class="col-1">
      <%= f.label :button, class: "text-light" %>
      <%= f.submit class: "btn btn-success", value: t("posts.breadcrumbs.search") %>
    </div>
    <div class="col-1">
      <%= f.label :redo, class: "text-light" %>
      <%= link_to admin_users_path, class: "nav-link active d-block" do %>
        <i class="fas fa-redo nav-icon text-success"></i>
      <% end %>
    </div>
  </div>
<% end %>
