<div class="card">
  <div class="card-header">
    <h3 class="card-title"><%= t "users.index.title" %></h3>
  </div>
  <div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
      <div class="input-group input-group-sm">
        <%= render "filter" %>
      </div>
      <div class="row">
        <div class="col-6">
          <label><%= t "users.index.user_numbers" %><%= t "users.index.count", count: @users.total_count %></label>
        </div>
        <div class="col-6">
          <label class="text-success"><%= link_to t("layouts.application.download"), admin_export_excel_path(format: :xlsx), class: "text-success" %></label>
        </div>
      </div>
      <thead>
        <%= render "colums" %>
      </thead>
      <tbody>
        <%= render @users %>
      </tbody>
      <tfoot>
        <%= render "colums" %>
      </tfoot>
    </table>
  </div>
</div>
<%= paginate @users, theme: Settings.theme.name_bootstrap %>

<div class="modal fade" id="modal-user" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><%= t "users.index.user_post_list" %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body-user">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t "users.index.close" %></button>
      </div>
    </div>
  </div>
</div>
