<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="navbar-serch-right-side">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="top-menu-bottom932">
  <nav class="navbar navbar-default">
    <div class="container d-flex">
      <div class="navbar-header">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag Settings.client.logo %>
        <% end %>
      </div>
      <div id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-expand navbar-right">
          <li>
            <%= link_to t(".home"), root_path %>
          </li>
          <li>
            <%= link_to t(".about"), about_path %>
          </li>
          <li>
            <%= link_to t(".help"), help_path %>
          </li>
          <li>
            <%= link_to t(".contact"), contact_path %>
          </li>
          <li class="dropdown">
            <%= link_to "#", class: "dropdown-toggle",
              data: {toggle: "dropdown"} do %>
              <%= t ".language" %>
              <span class="caret"></span>
            <% end %>
            <div class="dropdown-menu">
              <%= link_to t(".english"), {locale: :en},
                {class: "dropdown-item"} %>
              <%= link_to t(".vietnam"), {locale: :vi},
                {class: "dropdown-item"} %>
            </div>
          </li>
          <% if logged_in? %>
            <li class="dropdown">
              <%= link_to "#", class: "dropdown-toggle",
                data: {toggle: "dropdown"} do %>
                <%= t ".user" %>
                <span class="caret"></span>
              <% end %>
              <div class="dropdown-menu">
                <%= link_to t(".profile"), current_user,
                  class: "dropdown-item" %>
                <%= link_to t(".edit_profile"),
                  edit_user_path(current_user), class: "dropdown-item" %>
                <%= link_to t(".signout"), admin_logout_path, method: :delete,  class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li>
              <%= link_to t(".signin"), admin_login_path %>
            </li>
            <li>
              <%= link_to t(".signup"), admin_signup_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>
