<aside class="sidebar97239">
  <div class="status-part3821">
    <%= link_to new_post_path do %>
      <i class="fas fa-feather" aria-hidden="true">
        <%= t ".new_post" %>
      </i>
    <% end %>
  </div>
  <div class="status-part3821">
    <%= link_to user_followers_path(current_user) do %>
      <i class="fas fa-newspaper" aria-hidden="true">
        <%= t ".followers" %>
        <span id="followers_count">
          <%= current_user.followers.count %>
        </span>
      </i>
    <% end %>
    <%= link_to user_followings_path(current_user) do %>
      <i class="fas fa-users" aria-hidden="true">
        <%= t ".followings" %>
        <span id="followings_count">
          <%= current_user.following.count %>
        </span>
      </i>
    <% end %>
  </div>
  <div class="recent-post3290">
    <h4><%= t ".recent_post" %></h4>
    <% if posts.present? %>
      <% posts.each do |post|%>
        <div class="post-details021">
          <div class="post-details021-user">
            <%= link_to post do %>
              <%= load_user_avatar post.url %>
            <% end %>
            <%= link_to post do %>
              <h5><%= post.title %></h5>
            <% end %>
          </div>
          <p><%= post.content.html_safe %></p>
          <small><%= time_ago_in_words post.created_at %></small>
        </div>
        <hr>
      <% end %>
    <% else %>
      <h3 class="empty-data">
        <%= t ".no_post" %>
      </h3>
    <% end %>
  </div>
  <div class="categori-part329">
    <h4><%= t ".lasted_activities" %></h4>
    <% if activities.present? %>
      <div class="logs-index">
        <%= render activities %>
      </div>
    <% else %>
      <h3 class="empty-data">
        <%= t ".no_activities" %>
      </h3>
    <% end %>
    <%= link_to t(".show_all"), user_activities_path(current_user) %>
  </div>
  <div class="highest-part302">
    <h4><%= t ".celebrities" %></h4>
    <% if celebrities.present? %>
      <% celebrities.each do |celeb|%>
        <div class="pints-wrapper">
          <div class="left-user3898">
            <%= link_to celeb do %>
              <%= load_user_avatar celeb.url %>
            <% end %>
          </div> <span class="points-details938">
            <%= link_to celeb do %>
              <h5><%= celeb.name %></h5>
            <% end %>
            <div class="follow-user-<%= celeb.id %>" >
              <%= load_follow_user_partial celeb %>
            </div>
          </span>
        </div>
        <hr>
      <% end %>
    <% else %>
      <h3 class="empty-data">
        <%= t ".no_celeb" %>
      </h3>
    <% end %>
  </div>
  <div class="categori-part329">
    <h4><%= t ".categories" %></h4>
    <% if topics.present? %>
      <ul>
        <% topics.each do |topic|%>
          <li>
            <%= link_to topic.name, topic %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <h3 class="empty-data">
        <%= t ".no_topic" %>
      </h3>
    <% end %>
  </div>
  <div class="social-part2189 mb-4">
    <h4><%= t ".follow_us" %></h4>
    <li class="rss-one">
      <%= link_to "#", target: "_blank" do %>
        <strong>
          <span><%= t ".subscribe" %></span>
          <i class="fa fa-rss" aria-hidden="true"></i>
          <br>
          <small><%= t ".to_rss" %></small>
        </strong>
      <% end %>
    </li>
    <li class="facebook-two">
      <%= link_to "#", target: "_blank" do %>
        <strong>
          <span><%= t ".subscribe" %></span>
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <br>
          <small><%= t ".to_fb" %></small>
        </strong>
      <% end %>
    </li>
    <li class="twitter-three">
      <%= link_to "#", target: "_blank" do %>
        <strong>
          <span><%= t ".subscribe" %></span>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <br>
          <small><%= t ".to_wt" %></small>
        </strong>
      <% end %>
    </li>
    <li class="youtube-four">
      <%= link_to "#", target: "_blank" do %>
        <strong>
          <span><%= t ".subscribe" %></span>
          <i class="fa fa-youtube" aria-hidden="true"></i>
          <br>
          <small><%= t ".to_yt" %></small>
        </strong>
      <% end %>
    </li>
  </div>
</aside>
