<aside class="sidebar97239">
  <div class="status-part3821">
    <%= link_to "#" do %>
      <i class="fas fa-feather" aria-hidden="true">
        <%= t ".add_post" %>
      </i>
    <% end %>
  </div>
  <div class="status-part3821">
    <%= link_to "#" do %>
      <i class="fas fa-newspaper" aria-hidden="true">
        <%= t ".posts" %>
      </i>
    <% end %>
    <%= link_to "#" do %>
      <i class="fas fa-users" aria-hidden="true">
        <%= t ".users" %>
      </i>
    <% end %>
  </div>
  <div class="recent-post3290">
    <h4><%= t ".recent_post" %></h4>
    <div class="post-details021">
      <div class="post-details021-user">
        <%= link_to "#" do %>
          <%= image_tag "/images/logo.png" %>
        <% end %>
        <%= link_to "#" do %>
          <h5>How much do web developers</h5>
        <% end %>
      </div>
      <p>I am thinking of pursuing web developing as a career & was ...</p>
      <small>July 16, 2017</small>
    </div>
    <hr>
    <div class="post-details021">
      <div class="post-details021-user">
        <%= link_to "#" do %>
          <%= image_tag "/images/logo.png" %>
        <% end %>
        <%= link_to "#" do %>
          <h5>How much do web developers</h5>
        <% end %>
      </div>
      <p>I am thinking of pursuing web developing as a career & was ...</p>
      <small>July 16, 2017</small>
    </div>
  </div>
  <div class="highest-part302">
    <h4><%= t ".celebrities" %></h4>
    <div class="pints-wrapper">
      <div class="left-user3898">
        <%= link_to "#" do %>
          <%= image_tag "/images/logo.png" %>
        <% end %>
        <div class="imag-overlay39">
          <%= link_to "#" do %>
            <i class="fa fa-plus" aria-hidden="true"></i>
          <% end %>
        </div>
      </div> <span class="points-details938">
        <%= link_to "#" do %>
          <h5>Ahmed Hasan</h5>
        <% end %>
        <%= link_to "Pundit", "#", class: "designetion439" %>
      </span>
    </div>
    <hr>
    <div class="pints-wrapper">
      <div class="left-user3898">
        <%= link_to "#" do %>
          <%= image_tag "/images/logo.png" %>
        <% end %>
        <div class="imag-overlay39">
          <%= link_to "#" do %>
            <i class="fa fa-plus" aria-hidden="true"></i>
          <% end %>
        </div>
      </div> <span class="points-details938">
        <%= link_to "#" do %>
          <h5>Ahmed Hasan</h5>
        <% end %>
        <%= link_to "Pundit", "#", class: "designetion439" %>
      </span>
    </div>
  </div>
  <div class="categori-part329">
    <h4><%= t ".categories" %></h4>
    <ul>
      <li>
        <%= link_to "Cookings", "#" %>
      </li>
    </ul>
  </div>
  <div class="tags-part2398">
    <h4><%= t ".tags" %></h4>
    <ul>
      <li>
        <%= link_to "Soup", "#" %>
      </li>
    </ul>
  </div>
  <div class="social-part2189 mb-4">
    <h4><%= t ".follow_us" %></h4>
    <li class="rss-one">
      <%= link_to "#", target: "_blank" do %>
        <strong>
          <span><%= t ".subscribe" %></span>
          <i class="fa fa-rss" aria-hidden="true"></i>
          <br>
          <small><%= t ".to_rss" %></small>
        </strong>
      <% end %>
    </li>
    <li class="facebook-two">
      <%= link_to "#", target: "_blank" do %>
        <strong>
          <span><%= t ".subscribe" %></span>
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <br>
          <small><%= t ".to_fb" %></small>
        </strong>
      <% end %>
    </li>
    <li class="twitter-three">
      <%= link_to "#", target: "_blank" do %>
        <strong>
          <span><%= t ".subscribe" %></span>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <br>
          <small><%= t ".to_wt" %></small>
        </strong>
      <% end %>
    </li>
    <li class="youtube-four">
      <%= link_to "#", target: "_blank" do %>
        <strong>
          <span><%= t ".subscribe" %></span>
          <i class="fa fa-youtube" aria-hidden="true"></i>
          <br>
          <small><%= t ".to_yt" %></small>
        </strong>
      <% end %>
    </li>
  </div>
</aside>
