<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/admin/rails_default" %>
  </head>
  <body>
    <div class="wrapper">
      <%= render "layouts/admin/header" %>
      <%= render "layouts/admin/sidebar" %>
      <div class="content-wrapper">
        <%= render "layouts/admin/content_header" %>
        <div class="content">
          <%= yield %>
        </div>
      </div>
      <%= render "layouts/admin/footer" %>
    </div>
  </body>
</html>
